################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWorld/HelloWorld/bin
/HelloWorld/HelloWorld/obj
/HelloWorld/HelloWorld/wwwroot/lib
